In [4]:
# !pip3 install --upgrade google-api-python-client oauth2client

In [2]:
# !pip3 install gspread

In [6]:
# !pip install oauth2client

In [3]:
#!pip install google-api-python-client

# IMPORTING ALL LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")

# PENALTY

In [7]:
# scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
# credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
# client= gspread.authorize(credentials)
# sheet= client.open_by_key('Car Master Sheet')
# ws= sheet.worksheet('Penalty')
# data = ws.get_all_values()
# headers = data.pop(0)
# dfm = pd.DataFrame(data,columns=headers)
# df=dfm.iloc[0:-1,[0,1,2,7,5]]
# today = datetime.date.today()
# previous_monday = today - datetime.timedelta(days=today.weekday())
# previous_monday_week= previous_monday - datetime.timedelta(days=35)
# df['Date of Fine']= df['Date of Fine'].str.replace('/', '-')
# df['Date of Fine'] = pd.to_datetime(df['Date of Fine'], errors='coerce',format='%d-%m-%Y')#27/12/2021
# df_5week = df[(df['Date of Fine'] >= pd.to_datetime(previous_monday_week)) & (df['Date of Fine'] < pd.to_datetime(previous_monday))]
# df_5week['Date of Fine']=df_5week['Date of Fine'].astype(str)
# sheet= client.open('Aatmanirbhar -3')
# ws= sheet.worksheet('Penalty')
# ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

,Date of Fine,Date in Payout,ETM,Fine Amount,Penalty
0,27/12/2021,27/12/2021,ETM13572,-1185,Tail Light Damage
1,27/12/2021,27/12/2021,Etm12944,-850,Side Rear View Mirror Broken
2,28/12/2021,28/12/2021,ETM13642,-4000,Accident
3,28/12/2021,28/12/2021,ETM10547,-2000,Accident
4,29/12/2021,01/01/2022,ETM14062,-2000,Accident
...,...,...,...,...,...
755,14/05/2022,14-05-2022,ETM16435,-750,Key Lost
756,14/05/2022,14-05-2022,ETM14285,-750,Key Lost
757,14/05/2022,14-05-2022,ETM18098,-750,Key Lost
758,14/05/2022,14-05-2022,ETM19513,-500,Car Mis-use
759,14/05/2022,14-05-2022,ETM15843,-750,Key Lost

# B2B

In [80]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('B2B')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[1,3,12,4]]
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Date']= df['Date'].str.replace('/', '-')
df['Date'] = pd.to_datetime(df['Date'], errors='coerce',format='%d-%m-%Y')
df_5week = df[(df['Date'] >= pd.to_datetime(previous_monday_week)) & (df['Date'] < pd.to_datetime(previous_monday))]
df_5week['Date']=df_5week['Date'].astype(str)
sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('B2B')
ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

,Date,ETMID,TotalAmount,Duty
379,2022-04-05,ETM01632,4059.25,Sumit Bhatkar Vista rooms return on 5 April
380,2022-04-05,ETM00047,2217.5,Mohammed Hasnan Khan - vista rooms same day re...
381,2022-04-05,ETM00921,850,Jeyshree vaidyanathan - Shreya Hindocha return...
382,2022-04-05,ETM00921,346.2,Varun Thanawala airport drop
383,2022-04-05,ETM00921,850,Jeyshree vaidyanathan - Shreya Hindocha return...
...,...,...,...,...
503,2022-05-07,ETM01559,512.5,Nirmal Pathare - Siddharth Sir Uncle
504,2022-05-07,ETM00992,2145,Neville Barsivala - Vista rooms same day return
505,2022-05-07,ETM00047,1808.75,Sumit Bhatkar - Vista rooms same day return
506,2022-05-07,ETM01746,2635.5,Harish - Vista rooms same day return
507,2022-05-07,ETM00921,558.75,Nandini Gangal /Varun thanawala airport drop

# RECOVERY

In [90]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('Recovery')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[0,2,5,6]]
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Date']= df['Date'].str.replace('/', '-')
df['Date'] = pd.to_datetime(df['Date'], errors='coerce',format='%d-%m-%Y')#27/12/2021
df_5week = df[(df['Date'] >= pd.to_datetime(previous_monday_week)) & (df['Date'] < pd.to_datetime(previous_monday))]
df_5week['Date']=df_5week['Date'].astype(str)
sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('Recovery')
ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

            Date     Cash or Paytm     ETMID Amount
7015  2022-04-14             Paytm  ETM16105    265
7872  2022-04-05             Paytm  ETM12829   1200
9536  2022-04-12             Paytm  Etm08773   2648
10198 2022-04-05             Paytm  ETM17304    484
11689 2022-04-04             Paytm  Etm12670    853
...          ...               ...       ...    ...
17733 2022-05-07  Bank Transferred  ETM00554   1000
17734 2022-05-07  Bank Transferred  ETM04549   5000
17735 2022-05-07  Bank Transferred  ETM02743   1772
17736 2022-05-07  Bank Transferred  ETM19468   2204
18189 2022-05-06             Paytm  ETM18887   1500

[5451 rows x 4 columns]

# ADJUSTMENTS

In [4]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('Adjustments')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[0,1,5,4,7,3]]
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Date']= df['Date'].str.replace('/', '-')
df['Date'] = pd.to_datetime(df['Date'], errors='coerce',format='%d-%m-%Y')
df_5week = df[(df['Date'] >= pd.to_datetime(previous_monday_week)) & (df['Date'] < pd.to_datetime(previous_monday))]
df_5week['Date']=df_5week['Date'].astype(str)
df_5week
# sheet= client.open('Aatmanirbhar -3')
# ws= sheet.worksheet('Adjustments')
# ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

,Date,ETM ID,Amount,Remark,Status,Type
5408,2022-04-04,ETM17795,170,Need to add Rs.170 Nat fare Diffrance week 28-...,TRUE,Uber Adjustments
5409,2022-04-04,ETM15975,148,Need to adjust Rs 148 as non Trip Balance of w...,TRUE,Other addition
5410,2022-04-04,ETM17237,40,Need to add Rs.40 shilfata toll not cut in fas...,TRUE,Uber Adjustments
5411,2022-04-04,ETM17910,1500,Need To Deduct Of Rs 1500 For Pending Deposit ...,TRUE,Deposit Adjustments
5412,2022-04-04,ETM09870,550,"Need to add 550 amount for week 07-13 mar, as ...",TRUE,Incentive
...,...,...,...,...,...,...
9056,2022-05-08,ETM12438,200,Need to add Adjustment of Rs 200 for-side numb...,TRUE,side number plate
9057,2022-05-08,ETM18546,600,Need to add Adjustment of Rs 600 for-Fuel Adju...,TRUE,Fuel Adjustmet
9058,2022-05-08,ETM18708,100,Need to add Adjustment of Rs 100 for-Puncture ...,TRUE,Puncture Bill
9059,2022-05-08,ETM17796,200,Need to add Adjustment of Rs 200 for-Puncture ...,TRUE,Puncture Bill
9060,2022-05-08,ETM14755,200,Need to add Adjustment of Rs 200 for-Fuel Adju...,TRUE,Fuel Adjustmet

# RTO

In [96]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('RTO')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[0,1,2,6,4]]
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Date of Fine']= df['Date of Fine'].str.replace('/', '-')
df['Date of Fine'] = pd.to_datetime(df['Date of Fine'], errors='coerce',format='%d-%m-%Y')#27/12/2021
df_5week = df[(df['Date of Fine'] >= pd.to_datetime(previous_monday_week)) & (df['Date of Fine'] < pd.to_datetime(previous_monday))]
df_5week['Date of Fine']=df_5week['Date of Fine'].astype(str)
sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('RTO')
ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

,Date of Fine,Date in Payout,ETM,Fine Amount,Penalty
1824,2022-04-04,09-04-2022,ETM05401,-500,Jumping signal
1825,2022-04-08,09-04-2022,ETM12807,-200,Without Seatbelt
1826,2022-04-05,09-04-2022,ETM18078,-1000,Mandatory traffic sign boards not obeyed/Faile...
1827,2022-04-08,09-04-2022,ETM18257,-500,Causing danger/Obstructions/Undue inconvenienc...
1828,2022-04-04,09-04-2022,ETM18855,-1500,Mandatory traffic sign boards not obeyed
...,...,...,...,...,...
2796,2022-05-01,07-05-2022,ETM19602,-500,Causing danger/Obstructions/Undue inconvenienc...
2797,2022-05-01,07-05-2022,ETM11778,-1500,Police manual signal violation
2798,2022-05-03,07-05-2022,ETM16217,0,Advertisement on transport MV w/o RTO permission
2799,2022-04-30,07-05-2022,ETM18416,0,Advertisement on transport MV w/o RTO permission
2800,2022-05-03,07-05-2022,ETM12060,-200,Without Seatbelt

# DRIVER HISAAB

In [ ]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('atmanirbhar-test-f9b83b6f0672.json', scope) 
client= gspread.authorize(credentials)

#importing the data
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('Driver Hisaab')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[1,2,3,4,5]]
#exporting the data

sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('Driver Hisaab')
ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')

# AMOUNT PAID

In [37]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('Amount Paid')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[1,2,5]]
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
# df['Date']= df['Date'].str.replace('-', '/')
df['Date'] = pd.to_datetime(df['Date'], errors='coerce',format='%d-%m-%Y')#27/12/2021
df_5week = df[(df['Date'] >= pd.to_datetime(previous_monday_week)) & (df['Date'] < pd.to_datetime(previous_monday))]
df_5week['Date']=df_5week['Date'].astype(str)
sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('Amount Paid')
ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

{'spreadsheetId': '1cC9dKh4tvSHQuL5ncSJgxD79IyeYlVYwSx-mU1Hz3fI',
 'updatedRange': "'Amount Paid'!A1:C2041",
 'updatedRows': 2041,
 'updatedColumns': 3,
 'updatedCells': 6123}

# NEW SMS DATA= Car master sheet(NEW SMS DATA)+ Allotment status report + Driver leaving+Fleet+Driver hisaab +Adjustments+Recovery+Weekly Recovery update

In [67]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('atmanirbhar-test-f9b83b6f0672.json', scope) 
client= gspread.authorize(credentials)

#importing the data
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('New SMS Data')
data = ws.get_all_values()
headers = data.pop(1)
dfm = pd.DataFrame(data,columns=headers)
# df=dfm.iloc[0:-1,[2,3,4,23,28,29]]
df=dfm.loc[:,['Contact No','Name','ETM','Total Earnings(Sum(Q:S)-T)','Pending Joining Fee','Total Outstanding as of 01 May']]
# df.dtypes
df
# exporting the data

# sheet= client.open('Aatmanirbhar -3')
# ws= sheet.worksheet('New SMS Data')
# ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')

,Contact No,Name,ETM,Total Earnings(Sum(Q:S)-T),Pending Joining Fee,Total Outstanding as of 01 May
0,,Week Start Date,25/04/2022,,,
1,9619772163,Mohd Hasib,ETM00118,0,0,-60
2,7045426155,Mahfooz Khan,ETM02406,-702.28,0,-703
3,9892776660,Santosh Shetty,ETM13709,"1,398.14",0,"1,398"
4,8828483296,Zahid Mansoor Ahmad Shaikh,ETM06252,"-3,713.67",0,"-3,714"
...,...,...,...,...,...,...
1215,9021109378,Ravindra Zaware,ETM04087,"1,642.81",0,"1,643"
1216,9029494222,Ganesh Divekar,ETM01765,"15,315.75",0,"9,840"
1217,8454913505,Arbaz Khan,ETM00992,"8,764.00",0,"3,580"
1218,9326538658,Sagar Chandrakant Jadhav,ETM10125,"4,699.50",0,"1,850"
1219,9167295623,Rashid Khan,ETM00047,"1,045.00",0,"1,045"

# Driver Leaving

In [99]:
#driver leaving(Need live data so no code for this tab)

# scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
# credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
# client= gspread.authorize(credentials)
# sheet= client.open('Car Recovery Process')
# ws= sheet.worksheet('Driver Leaving Form')
# data = ws.get_all_values()
# headers = data.pop(0)
# dfm = pd.DataFrame(data,columns=headers)
# df=dfm.iloc[0:-1,[0,1,2,5]]
# today = datetime.date.today()
# previous_monday = today - datetime.timedelta(days=today.weekday())
# previous_monday_week= previous_monday - datetime.timedelta(days=35)
# df['Timestamp']= df['Timestamp'].str.replace('/', '-')
# df['Timestamp'] = pd.to_datetime(df['Timestamp'],errors='coerce',format='%d-%m-%Y %H:%M:%S')
# df_5week = df[(df['Timestamp'] >= pd.to_datetime(previous_monday_week)) & (df['Timestamp'] < pd.to_datetime(previous_monday))]
# df_5week['Timestamp']=df_5week['Timestamp'].astype(str)
# sheet= client.open('Aatmanirbhar -3')
# ws= sheet.worksheet('Driver Leaving')
# ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

                Timestamp        Team Name ETM of Driver Recovery
4     2022-05-03 11:19:33           Pranay      ETM01370       No
32    2022-04-04 11:51:18   Silent Killers      ETM03185       No
53    2022-05-04 14:10:00   Black Panthers      ETM08447       No
84    2022-04-04 14:40:34     Deep Hunters      ETM09870       No
87    2022-04-04 13:56:32           Pranay      ETM04833       No
...                   ...              ...           ...      ...
2889  2022-05-07 12:32:49     Deep Hunters      ETM13862       No
2890  2022-05-07 13:18:44  Terrific Tigers      ETM17572      Yes
2891  2022-05-07 16:45:07     Deep Hunters      ETM19668       No
2892  2022-05-08 11:48:29    Roaring Lions      ETM05655      Yes
2893  2022-05-08 12:55:50  Terrific Tigers      ETM18317       No

[205 rows x 4 columns]

# Allotment Status Report

In [7]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('atmanirbhar-test-f9b83b6f0672.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Allotment Status Report')
ws= sheet.worksheet('Allotment Status Report')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[2,16,7,3]] #Dm comparing etm with dm
allot=df[df.ID.str.startswith('ETM')]
sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('Allotment Status Report')
ws.update([allot.columns.values.tolist()] + allot.values.tolist(),value_input_option='USER_ENTERED')

                Timestamp        ID Driver 2  Car Number
5     12/07/2021 14:41:00  ETM06676           MH01DR1845
7     29/04/2021 00:00:00  ETM07081           MH01CV2172
10    20/10/2021 10:49:00  ETM10252           MH01CV2396
14    12/10/2021 15:59:00  ETM12432           MH01CV4880
15    01/09/2021 18:58:00  ETM11613           MH01CV3066
...                   ...       ...      ...         ...
7990  08/05/2022 17:58:10  ETM20336           MH01DR2785
7991  08/05/2022 18:10:06  ETM19541           MH01DR7785
7992  08/05/2022 18:26:23  ETM20307           MH01DR7737
7993  08/05/2022 18:32:03  ETM06984           MH01DR2918
7994  08/05/2022 18:38:06  ETM20307           MH01DR7744

[6849 rows x 4 columns]

# Uber

In [97]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('Uber')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[0,1,5,4,6,8,12,13,14,15,16,21,23,24,11,19,9,10,26,27,28,29]]
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Week start Date']= df['Week start Date'].str.replace('/', '-')
df['Week start Date'] = pd.to_datetime(df['Week start Date'], errors='coerce',format='%d-%m-%Y')
df_5week = df[(df['Week start Date'] >= pd.to_datetime(previous_monday_week)) & (df['Week start Date'] < pd.to_datetime(previous_monday))]
df_5week['Week start Date']=df_5week['Week start Date'].astype(str)
sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('Uber')
ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

,Week start Date,Week End Date,ETM,Contact No,Name,Trips,Tips,Toll As Per Uber App,Toll Paid by Fast tag,Tolls,...,Incentive,Final 60:40 Uber OS,Online Hours,Earning w/o Toll,Cancellation Rate,Acceptance Rate,Sedan Earning w/o Toll,Sedan Cash,Sedan 55.%,Sedan 55.% - Sedan Cash
14005,2022-04-04,10/04/2022,ETM00167,7718908984,Mohd Shaikh,34,25,485,280,205,...,0,"-1,564",61,"8,022",0,92,,,,
14006,2022-04-04,10/04/2022,ETM00340,9561791567,Sameer s Gamare,37,0,440,440,0,...,0,"-1,217",71,"8,572",7,87,,,,
14007,2022-04-04,10/04/2022,ETM00365,7021921014,Girjesh Pandey,65,0,700,360,340,...,"1,500","1,160",77,"13,508",3,97,,,,
14008,2022-04-04,10/04/2022,ETM00388,9372950747,Rajesh Wadkar,52,100,820,480,340,...,850,546,76,"13,874",4,79,,,,
14009,2022-04-04,10/04/2022,ETM00446,9653496276,Dinesh Akhade,45,0,455,200,255,...,600,"1,333",47,"9,575",6,98,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20127,2022-05-02,08/05/2022,ETM13411,7738874327,Sameer Shivalkar,45,0,440,440,0,...,600,600,95.58,0,3,48,20346.2,-15512,"11,190","-4,322"
20128,2022-05-02,08/05/2022,ETM15603,7303038478,Dilshad Shaikh,34,150,290,120,170,...,0,320,54.29,0,2,83,15043.26,-7661,"8,274",613
20129,2022-05-02,08/05/2022,ETM08278,9850179631,Vaibhav Patil,43,50,985,560,425,...,0,475,60.23,0,8,97,18987.96,-11602,"10,443","-1,159"
20130,2022-05-02,08/05/2022,ETM12243,9082077055,Sushant Tare,43,0,401,360,41,...,0,41,66.2,0,2,97,19009.59,-14004,"10,455","-3,549"
20131,2022-05-02,08/05/2022,ETM01685,9819074617,Musab Khan,8,0,240,120,120,...,0,120,10.59,0,6,76,3397.9,-1792,"1,869",77

# Recovery Queries for cancel

In [45]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('atmanirbhar-test-f9b83b6f0672.json', scope) 
client= gspread.authorize(credentials)

#importing the data
sheet= client.open('Car Recovery Process')
ws= sheet.worksheet('Recovery Queries')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[1,2,3,4]]
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Timestamp']= df['Timestamp'].str.replace('-', '/')
df['Timestamp'] = pd.to_datetime(df['Timestamp'])#,format='%m/%d/%Y %H:%M:%S')#27/12/2021
df_5week = df[(df['Timestamp'] >= pd.to_datetime(previous_monday_week)) & (df['Timestamp'] < pd.to_datetime(previous_monday))]
df_5week['Timestamp']=df_5week['Timestamp'].astype(str)
# df_5week.dtypes
df_5week

#exporting the data

sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('Cancle')
ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist())

{'spreadsheetId': '1cC9dKh4tvSHQuL5ncSJgxD79IyeYlVYwSx-mU1Hz3fI',
 'updatedRange': 'Cancle!A1:D238',
 'updatedRows': 238,
 'updatedColumns': 4,
 'updatedCells': 952}

# Vistor Responses

In [119]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('New Visitors Form at Korum Mall,Thane ')
ws= sheet.worksheet('Vistor Responses')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[0,5]]
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Timestamp']= df['Timestamp'].str.replace('/', '-')
df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce',format='%d-%m-%Y %H:%M:%S')#27/12/2021
df_5week = df[(df['Timestamp'] >= pd.to_datetime(previous_monday_week)) & (df['Timestamp'] < pd.to_datetime(previous_monday))]
df_5week['Timestamp']=df_5week['Timestamp'].astype(str)
df_5week
# sheet= client.open('Aatmanirbhar -3')
# ws= sheet.worksheet('Vistor Responses')
# ws.update([df_5week.columns.values.tolist()] + df_5week.values.tolist(),value_input_option='USER_ENTERED')

                 Timestamp  Car Number
10857  2022-04-04 08:58:57  MH01DR6043
10858  2022-04-04 09:06:41  MH01DR4305
10859  2022-04-04 09:10:47  MH01DR4902
10860  2022-04-04 09:12:29  MH01DR4072
10861  2022-04-04 09:13:45  MH01DR5853
...                    ...         ...
15983  2022-05-07 18:39:55  MH01DR7640
15984  2022-05-07 19:23:15  MH01CV9676
15985  2022-05-07 19:39:59  MH01DR2918
15986  2022-05-07 19:42:03  MH01DR2402
15987  2022-05-07 19:44:16  MH01DR2486

[5131 rows x 2 columns]

# Sedan New SMS=Car master sheet(Sedan New SMS)+ Allotment status report + Driver leaving+Fleet+Driver hisaab +Adjustments+Recovery+Weekly Recovery update

In [49]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('atmanirbhar-test-f9b83b6f0672.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('New SMS Data')
data = ws.get_all_values()
headers = data.pop(1)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.loc[:,['Contact No','Name','ETM','Total Earnings','Pending Joining Fee','Total Outstanding as of 01 May']]
Total Earnings(Sum(Q:S)-T)
sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('New SMS Data')
ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')

SyntaxError: invalid syntax (Temp/ipykernel_5576/2852095848.py, line 10)

In [36]:
# df['Total Outstanding as of 02 May'] = df['Total Outstanding as of 02 May'].astype(int)

In [65]:
# # pd.to_numeric(df['Total Outstanding as of 02 May'])
# df['Fee'] = df['Fee'].astype('int')

# ##Don't have an access of Fleet sheet

# DM

In [32]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('atmanirbhar-test-f9b83b6f0672.json', scope) 
client= gspread.authorize(credentials)

#importing the data
sheet= client.open('Car No Master list ')
ws= sheet.worksheet('Current')
data = ws.get_all_values()
data

# exporting the data

sheet= client.open('Aatmanirbhar -3')
ws= sheet.worksheet('DM')
ws.update(data)

[['car_number', 'Current DM'],
 ['MH48F3514', 'Pranay'],
 ['MH01CR9416', 'Deadly Shark'],
 ['MH01CR9417', 'Red Eagle'],
 ['MH01CR9418', 'Red Eagle'],
 ['MH01CR9419', 'Deadly Shark'],
 ['MH01CR9421', 'Deadly Shark'],
 ['MH01CR9422', 'Red Eagle'],
 ['MH01CR9423', 'Deadly Shark'],
 ['MH01CV0118', 'Red Eagle'],
 ['MH01CV0121', 'Red Eagle'],
 ['MH01CV0122', 'Red Eagle'],
 ['MH01CV0124', 'Red Eagle'],
 ['MH01CV0125', 'Deadly Shark'],
 ['MH01CV0126', 'Deadly Shark'],
 ['MH01CV0127', 'Deadly Shark'],
 ['MH01CV0128', 'Red Eagle'],
 ['MH01CV0129', 'Red Eagle'],
 ['MH01CV0130', 'Red Eagle'],
 ['MH01CV0612', 'Deadly Shark'],
 ['MH01CV0613', 'Deadly Shark'],
 ['MH01CV0614', 'Deadly Shark'],
 ['MH01CV0615', 'Red Eagle'],
 ['MH01CV0616', 'Deadly Shark'],
 ['MH01CV0617', 'Deadly Shark'],
 ['MH01CV0618', 'Deadly Shark'],
 ['MH01CV0619', 'Deadly Shark'],
 ['MH01CV0620', 'Pranay'],
 ['MH01CV0621', 'Red Eagle'],
 ['MH01CV2166', 'Red Eagle'],
 ['MH01CV2167', 'Deadly Shark'],
 ['MH01CV2168', 'Red Eagle'],
 ['MH01CV2169', 'Deadly Shark'],
 ['MH01CV2170', 'Deadly Shark'],
 ['MH01CV2171', 'Pranay'],
 ['MH01CV2172', 'Red Eagle'],
 ['MH01CV2173', 'Deadly Shark'],
 ['MH01CV2246', 'Deadly Shark'],
 ['MH01CV2247', 'Red Eagle'],
 ['MH01CV2248', 'Deadly Shark'],
 ['MH01CV2249', 'Deadly Shark'],
 ['MH01CV2396', 'Deadly Shark'],
 ['MH01CV2398', 'Pranay'],
 ['MH01CV2399', 'Deadly Shark'],
 ['MH01CV2402', 'Red Eagle'],
 ['MH01CV2404', 'Red Eagle'],
 ['MH01CV2406', 'Deadly Shark'],
 ['MH01CV2408', 'Deadly Shark'],
 ['MH01CV2409', 'Deadly Shark'],
 ['MH01CV2411', 'Red Eagle'],
 ['MH01CV2413', 'Deadly Shark'],
 ['MH01CV3041', 'Red Eagle'],
 ['MH01CV3043', 'Red Eagle'],
 ['MH01CV3044', 'Deadly Shark'],
 ['MH01CV3045', 'Red Eagle'],
 ['MH01CV3046', 'Deadly Shark'],
 ['MH01CV3048', 'Deadly Shark'],
 ['MH01CV3049', 'Red Eagle'],
 ['MH01CV3050', 'Deadly Shark'],
 ['MH01CV3057', 'Deadly Shark'],
 ['MH01CV3058', 'Red Eagle'],
 ['MH01CV3059', 'Red Eagle'],
 ['MH01CV3060', 'Deadly Shark'],
 ['MH01CV3061', 'Deadly Shark'],
 ['MH01CV3062', 'Deadly Shark'],
 ['MH01CV3063', 'Deadly Shark'],
 ['MH01CV3064', 'Deadly Shark'],
 ['MH01CV3065', 'Deadly Shark'],
 ['MH01CV3066', 'Deadly Shark'],
 ['MH01CV3067', 'Deadly Shark'],
 ['MH04HY0256', 'Red Eagle'],
 ['MH04HY0257', 'Red Eagle'],
 ['MH01CV4378', 'Red Eagle'],
 ['MH01CV4379', 'Deadly Shark'],
 ['MH01CV4380', 'Deadly Shark'],
 ['MH01CV4381', 'Deadly Shark'],
 ['MH01CV4382', 'Deadly Shark'],
 ['MH01CV4383', 'Vinay Bhai Leasing'],
 ['MH01CV4384', 'Deadly Shark'],
 ['MH01CV4502', 'Deadly Shark'],
 ['MH01CV4503', 'Deadly Shark'],
 ['MH01CV4504', 'Deadly Shark'],
 ['MH01CV4505', 'Red Eagle'],
 ['MH01CV4506', 'Deadly Shark'],
 ['MH01CV4507', 'Deadly Shark'],
 ['MH01CV4826', 'Deadly Shark'],
 ['MH01CV4827', 'Deadly Shark'],
 ['MH01CV4828', 'Deadly Shark'],
 ['MH01CV4829', 'Red Eagle'],
 ['MH01CV4830', 'Red Eagle'],
 ['MH01CV4831', 'Deadly Shark'],
 ['MH01CV4832', 'Deadly Shark'],
 ['MH01CV4833', 'Deadly Shark'],
 ['MH01CV4834', 'Deadly Shark'],
 ['MH01CV4835', 'Deadly Shark'],
 ['MH01CV4880', 'Deadly Shark'],
 ['MH01CV4881', 'Deadly Shark'],
 ['MH01CV4882', 'Red Eagle'],
 ['MH01CV4883', 'Red Eagle'],
 ['MH01CV4884', 'Deadly Shark'],
 ['MH01CV4885', 'Deadly Shark'],
 ['MH01CV4886', 'Deadly Shark'],
 ['MH01CV4887', 'Deadly Shark'],
 ['MH01CV4889', 'Deadly Shark'],
 ['MH01CV4890', 'Deadly Shark'],
 ['MH01CV5157', 'Vinay Bhai Leasing'],
 ['MH01CV5158', 'Red Eagle'],
 ['MH01CV5159', 'Vinay Bhai Leasing'],
 ['MH01CV5160', 'Red Eagle'],
 ['MH01CV5161', 'Vinay Bhai Leasing'],
 ['MH01CV5162', 'Red Eagle'],
 ['MH01CV5163', 'Red Eagle'],
 ['MH01CV5164', 'Deadly Shark'],
 ['MH01CV5167', 'Vinay Bhai Leasing'],
 ['MH01CV5169', 'Red Eagle'],
 ['MH01CV5213', 'Vinay Bhai Leasing'],
 ['MH01CV5215', 'Red Eagle'],
 ['MH01CV5216', 'Vinay Bhai Leasing'],
 ['MH01CV5217', 'Vinay Bhai Leasing'],
 ['MH01CV5218', 'Red Eagle'],
 ['MH01CV5219', 'Red Eagle'],
 ['MH01CV5220', 'Vinay Bhai Leasing'],
 ['MH01CV5221', 'Vinay Bhai Leasing'],
 ['MH01CV5222', 'Red Eagle'],
 ['MH01CV5223', 'Vinay Bhai Leasing'],
 ['MH01CV5224', 'Vinay Bhai Leasing'],
 ['MH01CV5267', 'Red Eagle'],
 ['MH01CV5268', 'Vinay Bhai Leasing'],
 ['MH01CV5269', 'Vinay Bhai Leasing'],
 ['MH01CV5724', 'Deadly Shark'],
 ['MH01CV5725', 'Vinay Bhai Leasing'],
 ['MH01CV5726', 'Red Eagle'],
 ['MH01CV5727', 'Vinay Bhai Leasing'],
 ['MH01CV5728', 'Vinay Bhai Leasing'],
 ['MH01CV5729', 'Deadly Shark'],
 ['MH01CV5730', 'Vinay Bhai'],
 ['MH01CV5732', 'Deadly Shark'],
 ['MH01CV5733', 'Deadly Shark'],
 ['MH01CV5734', 'Deadly Shark'],
 ['MH01CV5893', 'Vinay Bhai'],
 ['MH01CV5894', 'Deadly Shark'],
 ['MH01CV5895', 'Vinay Bhai Leasing'],
 ['MH01CV5896', 'Deadly Shark'],
 ['MH01CV5897', 'Red Eagle'],
 ['MH01CV5898', 'Vinay Bhai Leasing'],
 ['MH01CV5899', 'Red Eagle'],
 ['MH01CV5901', 'Red Eagle'],
 ['MH01CV5902', 'Red Eagle'],
 ['MH01CV5904', 'Vinay Bhai'],
 ['MH01CV5905', 'Vinay Bhai'],
 ['MH01CV5906', 'Vinay Bhai Leasing'],
 ['MH01CV5907', 'Vinay Bhai Leasing'],
 ['MH01CV5908', 'Red Eagle'],
 ['MH01CV5982', 'Vinay Bhai Leasing'],
 ['MH01CV5983', 'Deadly Shark'],
 ['MH01CV5984', 'Vinay Bhai Leasing'],
 ['MH01CV5985', 'Deadly Shark'],
 ['MH01CV5986', 'Vinay Bhai Leasing'],
 ['MH01CV5989', 'Deadly Shark'],
 ['MH01CV5990', 'Deadly Shark'],
 ['MH01CV5991', 'Vinay Bhai Leasing'],
 ['MH01CV5992', 'Vinay Bhai Leasing'],
 ['MH01CV5993', 'Red Eagle'],
 ['MH01CV6076', 'Red Eagle'],
 ['MH01CV6077', 'Red Eagle'],
 ['MH01CV6079', 'Vinay Bhai'],
 ['MH01CV6081', 'Red Eagle'],
 ['MH01CV6082', 'Vinay Bhai'],
 ['MH01CV6084', 'Deadly Shark'],
 ['MH01CV6085', 'Vinay Bhai Leasing'],
 ['MH01CV6086', 'Red Eagle'],
 ['MH01CV6137', 'Vinay Bhai Leasing'],
 ['MH01CV6143', 'Red Eagle'],
 ['MH46BB8838', 'Deadly Shark'],
 ['MH48F4136', 'Deadly Shark'],
 ['MH01CV6594', 'Red Eagle'],
 ['MH01CV6595', 'Deadly Shark'],
 ['MH01CV6596', 'Red Eagle'],
 ['MH01CV6597', 'Red Eagle'],
 ['MH01CV6598', 'Red Eagle'],
 ['MH01CV6599', 'Deadly Shark'],
 ['MH01CV6601', 'Deadly Shark'],
 ['MH01CV6602', 'Red Eagle'],
 ['MH01CV6603', 'Deadly Shark'],
 ['MH01CV6604', 'Deadly Shark'],
 ['MH01CV6746', 'Red Eagle'],
 ['MH01CV6742', 'Red Eagle'],
 ['MH01CV6751', 'Deadly Shark'],
 ['MH01CV6750', 'Red Eagle'],
 ['MH01CV6745', 'Deadly Shark'],
 ['MH01CV6739', 'Red Eagle'],
 ['MH01CV6740', 'Deadly Shark'],
 ['MH01CV6741', 'Deadly Shark'],
 ['MH01CV6748', 'Deadly Shark'],
 ['MH01CV6749', 'Deadly Shark'],
 ['MH01CV6747', 'Red Eagle'],
 ['MH01CV6878', 'Red Eagle'],
 ['MH01CV6879', 'Red Eagle'],
 ['MH01CV6880', 'Red Eagle'],
 ['MH01CV6881', 'Vinay Bhai Leasing'],
 ['MH01CV6882', 'Red Eagle'],
 ['MH01CV6883', 'Deadly Shark'],
 ['MH01CV6884', 'Deadly Shark'],
 ['MH01CV6885', 'Deadly Shark'],
 ['MH01CV6886', 'Vinay Bhai Leasing'],
 ['MH01CV6887', 'Deadly Shark'],
 ['MH01CV6888', 'Deadly Shark'],
 ['MH01CV6954', 'Deadly Shark'],
 ['MH01CV6955', 'Deadly Shark'],
 ['MH01CV6956', 'Deadly Shark'],
 ['MH01CV6958', 'Deadly Shark'],
 ['MH01CV6959', 'Deadly Shark'],
 ['MH01CV6960', 'Deadly Shark'],
 ['MH01CV6961', 'Deadly Shark'],
 ['MH01CV6962', 'Red Eagle'],
 ['MH01CV6963', 'Red Eagle'],
 ['MH01CV6964', 'Deadly Shark'],
 ['MH01CV7067', 'Red Eagle'],
 ['MH01CV7068', 'Red Eagle'],
 ['MH01CV7069', 'Deadly Shark'],
 ['MH01CV7072', 'Deadly Shark'],
 ['MH01CV7073', 'Red Eagle'],
 ['MH01CV7074', 'Deadly Shark'],
 ['MH01CV7075', 'Deadly Shark'],
 ['MH01CV7076', 'Deadly Shark'],
 ['MH01CV7078', 'Deadly Shark'],
 ['MH01CV6743', 'Vinay Bhai'],
 ['MH01CV7014', 'Red Eagle'],
 ['MH01CV7015', 'Red Eagle'],
 ['MH01CV7017', 'Deadly Shark'],
 ['MH01CV7018', 'Deadly Shark'],
 ['MH01CV7019', 'Deadly Shark'],
 ['MH01CV7021', 'Deadly Shark'],
 ['MH01CV7022', 'Deadly Shark'],
 ['MH01CV7023', 'Vinay Bhai Leasing'],
 ['MH01CV7024', 'Vinay Bhai Leasing'],
 ['MH01CV7025', 'Deadly Shark'],
 ['MH01CV7101', 'Red Eagle'],
 ['MH01CV7103', 'Red Eagle'],
 ['MH01CV7096', 'Vinay Bhai Leasing'],
 ['MH01CV7095', 'Red Eagle'],
 ['MH01CV7102', 'Deadly Shark'],
 ['MH01CV7097', 'Deadly Shark'],
 ['MH01CV7098', 'Red Eagle'],
 ['MH01CV7130', 'Red Eagle'],
 ['MH01CV7131', 'Deadly Shark'],
 ['MH01CV7133', 'Red Eagle'],
 ['MH01CV7132', 'Red Eagle'],
 ['MH01CV7134', 'Vinay Bhai Leasing'],
 ['MH01CV7135', 'Deadly Shark'],
 ['MH01CV7136', 'Red Eagle'],
 ['MH01CV7137', 'Red Eagle'],
 ['MH01CV7138', 'Red Eagle'],
 ['MH01CV7139', 'Red Eagle'],
 ['MH01CV7016', 'Deadly Shark'],
 ['MH01CV7401', 'Deadly Shark'],
 ['MH01CV7407', 'Red Eagle'],
 ['MH01CV7409', 'Deadly Shark'],
 ['MH01CV7412', 'Red Eagle'],
 ['MH01CV7413', 'Red Eagle'],
 ['MH01CV7415', 'Red Eagle'],
 ['MH01CV7417', 'Red Eagle'],
 ['MH01CV7429', 'Deadly Shark'],
 ['MH01CV7431', 'Deadly Shark'],
 ['MH01CV7432', 'Deadly Shark'],
 ['MH01CV7418', 'Red Eagle'],
 ['MH01CV7426', 'Deadly Shark'],
 ['MH01CV7405', 'Red Eagle'],
 ['MH01CV7416', 'Red Eagle'],
 ['MH01CV7422', 'Deadly Shark'],
 ['MH01CV7427', 'Red Eagle'],
 ['MH01CV7408', 'Deadly Shark'],
 ['MH01CV7399', 'Deadly Shark'],
 ['MH01CV7420', 'Red Eagle'],
 ['MH01CV7428', 'Deadly Shark'],
 ['MH01CV7403', 'Deadly Shark'],
 ['MH01CV7406', 'Red Eagle'],
 ['MH01CV7410', 'Deadly Shark'],
 ['MH01CV7411', 'Red Eagle'],
 ['MH01CV7430', 'Red Eagle'],
 ['MH01CV7423', 'Deadly Shark'],
 ['MH01CV7424', 'Red Eagle'],
 ['MH01CV7402', 'Red Eagle'],
 ['MH01CV7421', 'Deadly Shark'],
 ['MH01CV7565', 'Red Eagle'],
 ['MH01CV7566', 'Red Eagle'],
 ['MH01CV7567', 'Deadly Shark'],
 ['MH01CV7568', 'Red Eagle'],
 ['MH01CV7569', 'Red Eagle'],
 ['MH01CV7570', 'Red Eagle'],
 ['MH01CV7571', 'Deadly Shark'],
 ['MH01CV7572', 'Red Eagle'],
 ['MH01CV7538', 'Vinay Bhai Leasing'],
 ['MH01CV7539', 'Red Eagle'],
 ['MH01CV7540', 'Red Eagle'],
 ['MH01CV7541', 'Vinay Bhai Leasing'],
 ['MH01CV7542', 'Deadly Shark'],
 ['MH01CV7532', 'Deadly Shark'],
 ['MH01CV7533', 'Deadly Shark'],
 ['MH01CV7534', 'Vinay Bhai Leasing'],
 ['MH01CV7535', 'Red Eagle'],
 ['MH01CV7536', 'Red Eagle'],
 ['MH01CV7607', 'Deadly Shark'],
 ['MH01CV7597', 'Vinay Bhai Leasing'],
 ['MH01CV7598', 'Deadly Shark'],
 ['MH01CV7599', 'Deadly Shark'],
 ['MH01CV7614', 'Red Eagle'],
 ['MH01CV7615', 'Deadly Shark'],
 ['MH01CV7616', 'Deadly Shark'],
 ['MH01CV7606', 'Red Eagle'],
 ['MH01CV7766', 'Deadly Shark'],
 ['MH01CV7753', 'Red Eagle'],
 ['MH01CV7765', 'Red Eagle'],
 ['MH01CV7760', 'Red Eagle'],
 ['MH01CV7761', 'Red Eagle'],
 ['MH01CV7747', 'Red Eagle'],
 ['MH01CV7759', 'Deadly Shark'],
 ['MH01CV7763', 'Vinay Bhai Leasing'],
 ['MH01CV7754', 'Deadly Shark'],
 ['MH01CV7762', 'Vinay Bhai Leasing'],
 ['MH01CV7750', 'Deadly Shark'],
 ['MH01CV7746', 'Red Eagle'],
 ['MH01CV7748', 'Red Eagle'],
 ['MH01CV7751', 'Deadly Shark'],
 ['MH01CV7768', 'Deadly Shark'],
 ['MH01CV7758', 'Deadly Shark'],
 ['MH01CV7749', 'Red Eagle'],
 ['MH01CV7764', 'Red Eagle'],
 ['MH01CV7769', 'Vinay Bhai Leasing'],
 ['MH01CV7773', 'Deadly Shark'],
 ['MH01CV7774', 'Deadly Shark'],
 ['MH01CV7775', 'Deadly Shark'],
 ['MH01CV7780', 'Deadly Shark'],
 ['MH01CV7781', 'Deadly Shark'],
 ['MH01CV7782', 'Red Eagle'],
 ['MH01CV7783', 'Red Eagle'],
 ['MH01CV7784', 'Deadly Shark'],
 ['MH01CV7785', 'Red Eagle'],
 ['MH01CV7790', 'Deadly Shark'],
 ['MH01CV7791', 'Deadly Shark'],
 ['MH01CV7792', 'Deadly Shark'],
 ['MH01CV7793', 'Red Eagle'],
 ['MH01CV2251', 'Red Eagle'],
 ['MH01CV5214', 'Deadly Shark'],
 ['MH01CV5903', 'Vinay Bhai Leasing'],
 ['MH01CV6134', 'Red Eagle'],
 ['MH01CV6135', 'Deadly Shark'],
 ['MH01CV6136', 'Deadly Shark'],
 ['MH01CV6138', 'Deadly Shark'],
 ['MH01CV6139', 'Red Eagle'],
 ['MH01CV6141', 'Deadly Shark'],
 ['MH01CV6142', 'Red Eagle'],
 ['MH01CV6145', 'Deadly Shark'],
 ['MH01CV3944', 'Deadly Shark'],
 ['MH01CV3945', 'Vinay Bhai Leasing'],
 ['MH01CV3946', 'Deadly Shark'],
 ['MH01CV3947', 'Red Eagle'],
 ['MH01CV3948', 'Red Eagle'],
 ['MH01CV3949', 'Red Eagle'],
 ['MH01CV3950', 'Red Eagle'],
 ['MH01CV6078', 'Deadly Shark'],
 ['MH01CV6083', 'Red Eagle'],
 ['MH01CV3047', 'Red Eagle'],
 ['MH04JK3276', 'Red Eagle'],
 ['MH01CV7884', 'Deadly Shark'],
 ['MH01CV7886', 'Red Eagle'],
 ['MH01CV7890', 'Red Eagle'],
 ['MH01CV7894', 'Deadly Shark'],
 ['MH01CV7896', 'Deadly Shark'],
 ['MH01CV7897', 'Deadly Shark'],
 ['MH01CV7899', 'Red Eagle'],
 ['MH01CV7901', 'Red Eagle'],
 ['MH01CV7903', 'Deadly Shark'],
 ['MH01CV7904', 'Red Eagle'],
 ['MH46BB0587', 'Red Eagle'],
 ['MH01CV7888', 'Vinay Bhai Leasing'],
 ['MH01CV7885', 'Red Eagle'],
 ['MH01CV7895', 'Red Eagle'],
 ['MH01CV7891', 'Red Eagle'],
 ['MH01CV7883', 'Red Eagle'],
 ['MH01CV7892', 'Deadly Shark'],
 ['MH01CV7902', 'Deadly Shark'],
 ['MH01CV7893', 'Red Eagle'],
 ['MH01CV7898', 'Red Eagle'],
 ['MH01CV8110', 'Deadly Shark'],
 ['MH01CV8113', 'Red Eagle'],
 ['MH01CV8107', 'Deadly Shark'],
 ['MH01CV8119', 'Red Eagle'],
 ['MH01CV8117', 'Red Eagle'],
 ['MH01CV8109', 'Vinay Bhai'],
 ['MH01CV8106', 'Red Eagle'],
 ['MH01CV8116', 'Red Eagle'],
 ['MH01CV8108', 'Red Eagle'],
 ['MH01CV8120', 'Red Eagle'],
 ['MH01CV8112', 'Red Eagle'],
 ['MH01CV8115', 'Red Eagle'],
 ['MH01CV8111', 'Deadly Shark'],
 ['MH01CV8260', 'Deadly Shark'],
 ['MH01CV8261', 'Red Eagle'],
 ['MH01CV8264', 'Deadly Shark'],
 ['MH01CV8265', 'Vinay Bhai Leasing'],
 ['MH01CV8267', 'Vinay Bhai'],
 ['MH01CV8268', 'Red Eagle'],
 ['MH01CV8269', 'Deadly Shark'],
 ['MH01CV8263', 'Red Eagle'],
 ['MH01CV8270', 'Deadly Shark'],
 ['MH01CV8271', 'Deadly Shark'],
 ['MH01CV8272', 'Red Eagle'],
 ['MH01CV8274', 'Deadly Shark'],
 ['MH01CV8273', 'Deadly Shark'],
 ['MH01CV8275', 'Deadly Shark'],
 ['MH01CV8276', 'Deadly Shark'],
 ['MH01CV8391', 'Deadly Shark'],
 ['MH01CV8392', 'Red Eagle'],
 ['MH01CV8393', 'Deadly Shark'],
 ['MH03CV4689', 'Deadly Shark'],
 ['MH03CV4690', 'Deadly Shark'],
 ['MH01CV8535', 'Deadly Shark'],
 ['MH01CV8538', 'Deadly Shark'],
 ['MH01CV8539', 'Deadly Shark'],
 ['MH01CV8568', 'Deadly Shark'],
 ['MH01CV8569', 'Deadly Shark'],
 ['MH01CV8574', 'Red Eagle'],
 ['MH01CV8576', 'Deadly Shark'],
 ['MH01CV8532', 'Deadly Shark'],
 ['MH01CV8533', 'Vinay Bhai Leasing'],
 ['MH01CV8541', 'Vinay Bhai Leasing'],
 ['MH01CV8530', 'Deadly Shark'],
 ['MH01CV8543', 'Red Eagle'],
 ['MH01CV8545', 'Deadly Shark'],
 ['MH01CV8546', 'Red Eagle'],
 ['MH01CV8547', 'Deadly Shark'],
 ['MH01CV8548', 'Deadly Shark'],
 ['MH01CV8550', 'Deadly Shark'],
 ['MH01CV8551', 'Red Eagle'],
 ['MH01CV8566', 'Red Eagle'],
 ['MH01CV8567', 'Red Eagle'],
 ['MH01CV8632', 'Red Eagle'],
 ['MH01CV8639', 'Red Eagle'],
 ['MH01CV8649', 'Deadly Shark'],
 ['MH01CV8655', 'Red Eagle'],
 ['MH01CV8561', 'Deadly Shark'],
 ['MH01CV8528', 'Red Eagle'],
 ['MH01CV8526', 'Red Eagle'],
 ['MH01CV8520', 'Deadly Shark'],
 ['MH01CV8525', 'Red Eagle'],
 ['MH01CV8524', 'Red Eagle'],
 ['MH01CV8522', 'Red Eagle'],
 ['MH01CV8633', 'Deadly Shark'],
 ['MH01CV8636', 'Red Eagle'],
 ['MH01CV8650', 'Vinay Bhai Leasing'],
 ['MH01CV8644', 'Deadly Shark'],
 ['MH01CV8628', 'Deadly Shark'],
 ['MH01CV8521', 'Deadly Shark'],
 ['MH01CV8529', 'Red Eagle'],
 ['MH01CV8523', 'Vinay Bhai Leasing'],
 ['MH01CV8527', 'Deadly Shark'],
 ['MH01CV8631', 'Red Eagle'],
 ['MH01CV8660', 'Deadly Shark'],
 ['MH01CV8637', 'Red Eagle'],
 ['MH01CV8640', 'Red Eagle'],
 ['MH01CV8658', 'Red Eagle'],
 ['MH01CV8648', 'Vinay Bhai Leasing'],
 ['MH01CV8643', 'Red Eagle'],
 ['MH01CV8634', 'Red Eagle'],
 ['MH01CV8630', 'Red Eagle'],
 ['MH01CV8638', 'Deadly Shark'],
 ['MH01CV8654', 'Red Eagle'],
 ['MH01CV8652', 'Deadly Shark'],
 ['MH01CV8657', 'Vinay Bhai Leasing'],
 ['MH03CV5394', 'Deadly Shark'],
 ['MH03CV5393', 'Deadly Shark'],
 ['MH03CV5395', 'Deadly Shark'],
 ['MH03CV5392', 'Red Eagle'],
 ['MH03CV5396', 'Red Eagle'],
 ['MH01CV8656', 'Deadly Shark'],
 ['MH01CV8635', 'Deadly Shark'],
 ['MH01CV9197', 'Red Eagle'],
 ['MH01CV9196', 'Red Eagle'],
 ['MH01CV9199', 'Red Eagle'],
 ['MH01CV9202', 'Red Eagle'],
 ['MH01CV9201', 'Red Eagle'],
 ['MH01CV8629', 'Deadly Shark'],
 ['MH01CV8659', 'Deadly Shark'],
 ['MH01CV8573', 'Deadly Shark'],
 ['MH01CV8579', 'Red Eagle'],
 ['MH01CV8571', 'Deadly Shark'],
 ['MH01CV8570', 'Deadly Shark'],
 ['MH01CV8562', 'Red Eagle'],
 ['MH01CV8572', 'Deadly Shark'],
 ['MH01CV8563', 'Deadly Shark'],
 ['MH01CV8626', 'Deadly Shark'],
 ['MH01CV8645', 'Deadly Shark'],
 ['MH01CV8537', 'Vinay Bhai Leasing'],
 ['MH01CV8540', 'Red Eagle'],
 ['MH01CV8582', 'Deadly Shark'],
 ['MH01CV8531', 'Red Eagle'],
 ['MH01CV8542', 'Deadly Shark'],
 ['MH01CV8564', 'Deadly Shark'],
 ['MH01CV8565', 'Red Eagle'],
 ['MH01CV8653', 'Red Eagle'],
 ['MH01CV8651', 'Deadly Shark'],
 ['MH01CV9236', 'Red Eagle'],
 ['MH01CV9237', 'Deadly Shark'],
 ['MH01CV9239', 'Red Eagle'],
 ['MH01CV9239', 'Red Eagle'],
 ['MH01CV9240', 'Red Eagle'],
 ['MH43BP6679', 'Vinay Bhai Leasing'],
 ['MH43BP6680', 'Vinay Bhai Leasing'],
 ['MH43BP6681', 'Vinay Bhai'],
 ['MH43BP6682', 'Deadly Shark'],
 ['MH01CV9271', 'Red Eagle'],
 ['MH01CV9267', 'Deadly Shark'],
 ['MH01CV9268', 'Deadly Shark'],
 ['MH01CV9270', 'Deadly Shark'],
 ['MH01CV9272', 'Red Eagle'],
 ['MH43BP6676', 'Vinay Bhai'],
 ['MH01CV9681', 'Deadly Shark'],
 ['MH01CV9667', 'Red Eagle'],
 ['MH01CV9685', 'Deadly Shark'],
 ['MH01CV9665', 'Red Eagle'],
 ['MH01CV9670', 'Deadly Shark'],
 ['MH01CV9684', 'Deadly Shark'],
 ['MH01CV9679', 'Red Eagle'],
 ['MH01CV9669', 'Deadly Shark'],
 ['MH01CV9668', 'Deadly Shark'],
 ['MH01CV9676', 'Red Eagle'],
 ['MH01CV9673', 'Red Eagle'],
 ['MH01CV9672', 'Deadly Shark'],
 ['MH01CV9671', 'Red Eagle'],
 ['MH01CV9664', 'Red Eagle'],
 ['MH01CV9663', 'Deadly Shark'],
 ['MH01CV9683', 'Red Eagle'],
 ['MH01CV9682', 'Red Eagle'],
 ['MH01CV9680', 'Red Eagle'],
 ['MH01CV9678', 'Red Eagle'],
 ['MH01CV9674', 'Red Eagle'],
 ['MH01CV9791', 'Deadly Shark'],
 ['MH01CV9793', 'Red Eagle'],
 ['MH01CV9838', 'Deadly Shark'],
 ['MH01CV9804', 'Red Eagle'],
 ['MH01CV9806', 'Red Eagle'],
 ['MH01CV9843', 'Vinay Bhai Leasing'],
 ['MH01CV9832', 'Red Eagle'],
 ['MH01CV9788', 'Red Eagle'],
 ['MH01CV9801', 'Deadly Shark'],
 ['MH01CV9795', 'Red Eagle'],
 ['MH01CV9796', 'Red Eagle'],
 ['MH01CV9789', 'Red Eagle'],
 ['MH01CV9842', 'Deadly Shark'],
 ['MH01CV9833', 'Red Eagle'],
 ['MH01CV9808', 'Deadly Shark'],
 ['MH01CV9839', 'Red Eagle'],
 ['MH01CV9841', 'Deadly Shark'],
 ['MH01CV9794', 'Red Eagle'],
 ['MH01CV9805', 'Deadly Shark'],
 ['MH01CV9790', 'Vinay Bhai'],
 ['MH01CV9802', 'Red Eagle'],
 ['MH01CV9803', 'Red Eagle'],
 ['MH01CV8549', 'Red Eagle'],
 ['MH01CV8544', 'Vinay Bhai Leasing'],
 ['MH01CV9836', 'Deadly Shark'],
 ['MH01CV9807', 'Deadly Shark'],
 ['MH01CV9844', 'Deadly Shark'],
 ['MH01CV9840', 'Red Eagle'],
 ['MH01CV9835', 'Red Eagle'],
 ['MH01CV9830', 'Deadly Shark'],
 ['MH01CV9837', 'Red Eagle'],
 ['MH01CV9834', 'Deadly Shark'],
 ['MH01DR1836', 'Vinay Bhai Leasing'],
 ['MH01DR1837', 'Vinay Bhai Leasing'],
 ['MH01DR1838', 'Vinay Bhai Leasing'],
 ['MH01DR1839', 'Vinay Bhai'],
 ['MH01DR1840', 'Vinay Bhai Leasing'],
 ['MH01DR1841', 'Vinay Bhai Leasing'],
 ['MH01DR1843', 'Vinay Bhai Leasing'],
 ['MH01DR1845', 'Red Eagle'],
 ['MH01DR1846', 'Red Eagle'],
 ['MH01DR1847', 'Red Eagle'],
 ['MH01DR1848', 'Red Eagle'],
 ['MH01DR1849', 'Red Eagle'],
 ['MH01DR1850', 'Red Eagle'],
 ['MH01DR1851', 'Deadly Shark'],
 ['MH01DR1853', 'Silent Killers'],
 ['MH01DR1854', 'Red Eagle'],
 ['MH01DR1864', 'Deadly Shark'],
 ['MH01DR1865', 'Red Eagle'],
 ['MH01DR1866', 'Deadly Shark'],
 ['MH01DR1867', 'Red Eagle'],
 ['MH01DR1868', 'Red Eagle'],
 ['MH01DR1869', 'Deadly Shark'],
 ['MH01DR1872', 'Red Eagle'],
 ['MH01DR1870', 'Red Eagle'],
 ['MH01DR1871', 'Red Eagle'],
 ['MH01DR1873', 'Red Eagle'],
 ['MH01DR1883', 'Red Eagle'],
 ['MH01DR1978', 'Vinay Bhai Leasing'],
 ['MH01DR1979', 'Vinay Bhai'],
 ['MH01DR1981', 'Vinay Bhai Leasing'],
 ['MH01DR1982', 'Vinay Bhai Leasing'],
 ['MH01DR1983', 'Vinay Bhai Leasing'],
 ['MH01DR1984', 'Red Eagle'],
 ['MH01DR2043', 'Red Eagle'],
 ['MH01DR2010', 'Red Eagle'],
 ['MH01DR2011', 'Deadly Shark'],
 ['MH01DR2012', 'Red Eagle'],
 ['MH01DR2013', 'Deadly Shark'],
 ['MH01DR2014', 'Red Eagle'],
 ['MH01DR2015', 'Deadly Shark'],
 ['MH01DR2016', 'Red Eagle'],
 ['MH01DR2017', 'Pranay'],
 ['MH01DR2245', 'Deadly Shark'],
 ['MH01DR2246', 'Deadly Shark'],
 ['MH01DR2247', 'Deadly Shark'],
 ['MH01DR2248', 'Red Eagle'],
 ['MH01DR2317', 'Deadly Shark'],
 ['MH01DR2318', 'Red Eagle'],
 ['MH01DR2319', 'Red Eagle'],
 ['MH01DR2320', 'Red Eagle'],

# Rough work

In [161]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('atmanirbhar-test-f9b83b6f0672.json', scope) 
client= gspread.authorize(credentials)
#importing the data
sheet= client.open('Car Master Sheet')
Penalty= sheet.worksheet('Penalty')
data = Penalty.get_all_values()
headers = data.pop(0)
df = pd.DataFrame(data,columns=headers)
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Date of Fine']= df['Date of Fine'].str.replace('-', '/')
df['Date of Fine'] = pd.to_datetime(df['Date of Fine'])#,format='%d/%d/%Y')#27/12/2021
df_5week = df[(df['Date of Fine'] >= pd.to_datetime(previous_monday_week)) & (df['Date of Fine'] < pd.to_datetime(previous_monday))]
print(df_5week)
#exporting the data
# df = pd.DataFrame(data=df_5week)
# sheet= client.open('Aatmanirbhar -3')
# Penalty= sheet.worksheet('Penalty')
# d2g.upload(df, sheet, Penalty, credentials=credentials, row_names=True)




# sheet= client.open('Aatmanirbhar -3')
# Penalty= sheet.worksheet('Penalty')
# update_value=Penalty.update(df_5week)
# print(update_value)

    Date of Fine Date in Payout       ETM                       Driver Name  \
36    2022-04-01     04/01/2022  ETM11400  Sandeep Ramkhelawan kumar sharma
73    2022-04-01     18/01/2022  ETM11400  Sandeep Ramkhelawan kumar sharma
155   2022-04-02     04/02/2022  ETM14750                    Yogesh lonkar
157   2022-04-02     04/02/2022  ETM13775    Rohit Kumar Virendra Katheriya
161   2022-04-02     04/02/2022  ETM11291            Anoop Ram Naresh Kumar
..           ...            ...       ...                               ...
662   2022-04-18     27-04-2022  ETM11240                       Sanju Pawar
663   2022-04-18     27-04-2022  ETM19264                      Anamol Yadav
664   2022-04-05     27-04-2022  ETM18088                        Jai Govind
665   2022-04-23     27-04-2022  ETM19289            Ghazi Salauddin Shaikh
666   2022-04-24     27-04-2022  ETM17878                      Vinod Sarode

     Mobile No.                       Penalty     Car No. Fine Amount  \
36   8450992638  Side Rear View Mirror Broken  MH01DR4979           0
73   8450992638  Side Rear View Mirror Broken  MH01DR4979        -850
155  7738787317            Without Intimation  MH01DR2725       -1400
157  8052126262  Side Rear View Mirror Broken  MH01DR4912        -850
161  9619741610  Side Rear View Mirror Broken  MH01DR4987        -850
..          ...                           ...         ...         ...
662  8779022133                   Car Mis-use  MH01DR5210       -1500
663  7317067203                   Car Mis-use  MH01DR5207       -1000
664  8369850221                      Accident  MH01DR2512       -2000
665  9588600116  Side Rear View Mirror Broken  MH01DR5548        -850
666  9137492344                      Accident  MH01DR5692       -2000

    Penalty Imposed By
36                Ayub
73                Ayub
155               Anuj
157             Rajesh
161               Ayub
..                 ...
662              Akash
663              Akash
664               Ayub
665               Ayub
666               Ayub

[166 rows x 9 columns]

AttributeError: module 'df2gspread' has no attribute 'upload'

In [19]:
import datetime
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
print(previous_monday)
previous_monday_week= previous_monday - datetime.timedelta(days=35)
print(pd.to_datetime(previous_monday_week))

2022-05-02
2022-03-28 00:00:00

In [112]:
df[df['Date of Fine'] > '2022-03-21'][df['Date of Fine'] == '2022-03-23']

C:\Users\sagar\AppData\Local\Temp/ipykernel_12384/1885894390.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Date of Fine'] > '2022-03-21'][df['Date of Fine'] == '2022-03-23']

,Date of Fine,Date in Payout,ETM,Driver Name,Mobile No.,Penalty,Car No.,Fine Amount,Penalty Imposed By
453,2022-03-23,26-03-2022,ETM16292,Satyanarayan jha,7977967897,Side Rear View Mirror Broken,MH01DR4887,-750,Shahbaz
454,2022-03-23,26-03-2022,ETM11203,Neeraj Sahani,9372809965,Side Rear View Mirror Broken,MH02DR5119,-750,Shahbaz
470,2022-03-23,31-03-2022,ETM17212,Sandip chavanke,9321617914,Accident,MH02FG6201,-2000,Suraj
635,2022-03-23,27-04-2022,ETM17631,Usman Sarang,9137952398,Key Lost,MH01DR4118,-1500,Rakesh

In [113]:
df_5week = df[(df['Date of Fine'] >= pd.to_datetime(previous_monday_week)) & (df['Date of Fine'] < pd.to_datetime(previous_monday))]

In [114]:
df_5week[df_5week['Date of Fine'] == '2022-03-23']

,Date of Fine,Date in Payout,ETM,Driver Name,Mobile No.,Penalty,Car No.,Fine Amount,Penalty Imposed By
453,2022-03-23,26-03-2022,ETM16292,Satyanarayan jha,7977967897,Side Rear View Mirror Broken,MH01DR4887,-750,Shahbaz
454,2022-03-23,26-03-2022,ETM11203,Neeraj Sahani,9372809965,Side Rear View Mirror Broken,MH02DR5119,-750,Shahbaz
470,2022-03-23,31-03-2022,ETM17212,Sandip chavanke,9321617914,Accident,MH02FG6201,-2000,Suraj
635,2022-03-23,27-04-2022,ETM17631,Usman Sarang,9137952398,Key Lost,MH01DR4118,-1500,Rakesh

In [97]:
df.tail(10)

,Date of Fine,Date in Payout,ETM,Driver Name,Mobile No.,Penalty,Car No.,Fine Amount,Penalty Imposed By
661,2022-04-18,27-04-2022,ETM14717,Mohd Imran Mohd G Shaikh,8530804471,Car Mis-use,MH01DR7066,-1500,Akash
662,2022-04-18,27-04-2022,ETM11240,Sanju Pawar,8779022133,Car Mis-use,MH01DR5210,-1500,Akash
663,2022-04-18,27-04-2022,ETM19264,Anamol Yadav,7317067203,Car Mis-use,MH01DR5207,-1000,Akash
664,2022-04-05,27-04-2022,ETM18088,Jai Govind,8369850221,Accident,MH01DR2512,-2000,Ayub
665,2022-04-23,27-04-2022,ETM19289,Ghazi Salauddin Shaikh,9588600116,Side Rear View Mirror Broken,MH01DR5548,-850,Ayub
666,2022-04-24,27-04-2022,ETM17878,Vinod Sarode,9137492344,Accident,MH01DR5692,-2000,Ayub
667,2022-04-26,27-04-2022,ETM14467,Bhavesh gaygod,9510724147,Accident,MH01DR2634,-2000,Anuj
668,2022-04-27,27-04-2022,ETM17700,Mangesh Tompe,7218363592,Car Mis-use,MH01DR5469,-4000,Ayub
669,2022-04-27,27-04-2022,ETM14125,Sandeep dubey,8208831996,Window's Glass Broken,MH01DR4577,-850,Manish
670,2022-04-27,27-04-2022,ETM18609,Sopan shinde,8657380134,Car Mis-use,MH01DR2846,-3470,Anuj

In [17]:
df.loc[0,'Date of Fine'].day_name()

'Monday'

In [36]:
#import datetime
# from dateutil.relativedelta import relativedelta

# date = datetime.datetime.strptime("2022-01-01","%Y-%m-%d")
# date2 = date - relativedelta(months=1)
# print (date2)

# import datetime
# today = datetime.date.today()
# previous_week = today - datetime.timedelta(days=35)
# print(previous_week)

# now = datetime.now()
# monday = now - timedelta(days = now.weekday())
# print(monday)


import datetime
today = datetime.date.today()
previous_monday = today - datetime.timedelta(days=today.weekday())
print(previous_monday)
previous_monday_week= previous_monday - datetime.timedelta(days=35)
print(previous_monday_week)

2022-04-25
2022-03-21

In [ ]:
# Atmn='atmanirbhar-test-f9b83b6f0672.json'
# gc=pygsheets.authorize(service_file=Atmn)
# sheetname='Aatmanirbhar -3'
# sh=gc.open(sheetname)
# tab=sh.worksheet_by_title('Penalty')
# # tab.update_value('A1','1')
# print('done')

In [7]:
# import pandas as pd
# gs_id=input("Paste your sheet id here :")
# sheet_name=input("Paste your sheet name here :")
# URL = 'https://docs.google.com/spreadsheets/d/{0}/gviz/tq?tqx=out:csv&sheet={1}'.format(gs_id,sheet_name).replace(" ", "%20")
# df = pd.read_csv(URL)
# print(df)

In [19]:
df.to_csv('Atmanirbhar_New_Sms_Data.csv')

In [ ]:
# df.to_csv('CarNoMasterlist_History.csv')

In [34]:
df=pd.read_csv('Atmanirbhar_New_Sms_Data.csv')

In [35]:
df

,Unnamed: 0,Contact No,Name,ETM,Total Earnings\n(Sum(Q:S)-T),Pending Joining Fee,Total Outstanding as of 24 Apr,Car Number,Team,Active,Fleet,Amount Paid,Final O/S,o/s status,Pending Fee,Amount paid,Weekly Collection,Actual Weekly Collection,Total OS W Joining Fee
0,0,9.619772e+09,Mohd Hasib,ETM00118,NaN,0.0,-60,MH01DR3160,Silent Killers,Left,everest449@,0.0,-60.000,Unpaid,0.00,0,0,NaN,60
1,1,9.167296e+09,Rashid Khan,ETM00047,"3,660",0.0,"4,988",MH01DR3235,Pranay,Positive o/s,everest449@,0.0,0.390,Positive o/s,0.00,0,0,"4,988","4,988"
2,2,9.561792e+09,Sameer S Gamare,ETM00340,-638,0.0,-738,MH01DR5841,Silent Killers,Need to collect o/s,everest449@,0.0,0.200,Unpaid,"-2,000.00",738,0,-638,"1,262"
3,3,7.021921e+09,Grijesh Pandey,ETM00365,"4,411",0.0,"4,411",MH01DR4338,Silent Killers,Positive o/s,everest982@,0.0,-0.104,Positive o/s,0.00,0,0,"4,411","4,411"
4,4,9.372951e+09,Rajesh Wadkar,ETM00388,"-4,343",0.0,"-4,703",MH01DR2435,Deep Hunters,Need to collect o/s,everest932@,0.0,-703.098,Unpaid,"-2,000.00","4,000",0,"-4,343","2,703"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,1513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1514,1514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1515,1515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1516,1516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1517,1517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0

In [24]:
df.head(5)

,Unnamed: 0,Contact No,Name,ETM,Total Earnings\n(Sum(Q:S)-T),Pending Joining Fee,Total Outstanding as of 24 Apr,Car Number,Team,Active,Fleet,Amount Paid,Final O/S,o/s status,Pending Fee,Amount paid,Weekly Collection,Actual Weekly Collection,Total OS W Joining Fee
0,0,9.619772e+09,Mohd Hasib,ETM00118,NaN,0.0,-60,MH01DR3160,Silent Killers,Left,everest449@,0.0,-60.000,Unpaid,0.00,0,0,NaN,60
1,1,9.167296e+09,Rashid Khan,ETM00047,"3,660",0.0,"4,988",MH01DR3235,Pranay,Positive o/s,everest449@,0.0,0.390,Positive o/s,0.00,0,0,"4,988","4,988"
2,2,9.561792e+09,Sameer S Gamare,ETM00340,-638,0.0,-738,MH01DR5841,Silent Killers,Need to collect o/s,everest449@,0.0,0.200,Unpaid,"-2,000.00",738,0,-638,"1,262"
3,3,7.021921e+09,Grijesh Pandey,ETM00365,"4,411",0.0,"4,411",MH01DR4338,Silent Killers,Positive o/s,everest982@,0.0,-0.104,Positive o/s,0.00,0,0,"4,411","4,411"
4,4,9.372951e+09,Rajesh Wadkar,ETM00388,"-4,343",0.0,"-4,703",MH01DR2435,Deep Hunters,Need to collect o/s,everest932@,0.0,-703.098,Unpaid,"-2,000.00","4,000",0,"-4,343","2,703"

In [26]:
df.tail(10)

,Unnamed: 0,Contact No,Name,ETM,Total Earnings\n(Sum(Q:S)-T),Pending Joining Fee,Total Outstanding as of 24 Apr,Car Number,Team,Active,Fleet,Amount Paid,Final O/S,o/s status,Pending Fee,Amount paid,Weekly Collection,Actual Weekly Collection,Total OS W Joining Fee
1508,1508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1509,1509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1510,1510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1511,1511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1512,1512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1513,1513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1514,1514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1515,1515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1516,1516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0
1517,1517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0,0,NaN,0

In [31]:
df[1:1173]

,Unnamed: 0,Contact No,Name,ETM,Total Earnings\n(Sum(Q:S)-T),Pending Joining Fee,Total Outstanding as of 24 Apr,Car Number,Team,Active,Fleet,Amount Paid,Final O/S,o/s status,Pending Fee,Amount paid,Weekly Collection,Actual Weekly Collection,Total OS W Joining Fee
1,1,9.167296e+09,Rashid Khan,ETM00047,"3,660",0.0,"4,988",MH01DR3235,Pranay,Positive o/s,everest449@,0.0,0.390,Positive o/s,0.00,0,0,"4,988","4,988"
2,2,9.561792e+09,Sameer S Gamare,ETM00340,-638,0.0,-738,MH01DR5841,Silent Killers,Need to collect o/s,everest449@,0.0,0.200,Unpaid,"-2,000.00",738,0,-638,"1,262"
3,3,7.021921e+09,Grijesh Pandey,ETM00365,"4,411",0.0,"4,411",MH01DR4338,Silent Killers,Positive o/s,everest982@,0.0,-0.104,Positive o/s,0.00,0,0,"4,411","4,411"
4,4,9.372951e+09,Rajesh Wadkar,ETM00388,"-4,343",0.0,"-4,703",MH01DR2435,Deep Hunters,Need to collect o/s,everest932@,0.0,-703.098,Unpaid,"-2,000.00","4,000",0,"-4,343","2,703"
5,5,9.653496e+09,Dinesh Akhade,ETM00446,751,0.0,751,MH01DR5811,Silent Killers,Positive o/s,everest449@,0.0,-0.064,Positive o/s,0.00,0,0,751,751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,1168,8.779415e+09,Mehandi Hasan,ETM13913,"-3,617",0.0,"-4,990",MH01DR7720,Black Panthers,Need to collect o/s,NaN,0.0,-5554.848,Unpaid,0.00,0,0,"-3,617","4,990"
1169,1169,9.137253e+09,Sayyed Irfan Kazi,ETM16513,378,0.0,130,MH01DR6897,Terrific Tigers,Positive o/s,everest455@,0.0,-1134.671,Positive o/s,"-2,000.00",0,0,378,"1,870"
1170,1170,8.454914e+09,Arbaz Khan,ETM00992,"6,493",0.0,0,MH01DR2631,Deep Hunters,Positive o/s,everest932@,0.0,0.150,Positive o/s,0.00,0,0,"6,493",0
1171,1171,9.029494e+09,Ganesh Divekar,ETM01765,"8,704",0.0,"5,672",MH01DR5873,Deep Hunters,Positive o/s,everest932@,0.0,5671.542,Positive o/s,"-2,000.00",0,0,"8,704","3,672"
1172,1172,9.326539e+09,Sagar Chandrakant Jadhav,ETM10125,"6,655",0.0,-1,MH01CV0620,Pranay,Positive o/s,everest982@,0.0,-0.500,Unpaid,0.00,0,0,"6,655",1

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518 entries, 0 to 1517
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      1518 non-null   int64
 1   Contact No                      1172 non-null   float64
 2   Name                            1172 non-null   object
 3   ETM                             1172 non-null   object
 4   Total Earnings
(Sum(Q:S)-T)     1172 non-null   object
 5   Pending Joining Fee             1173 non-null   float64
 6   Total Outstanding as of 24 Apr  1172 non-null   object
 7   Car Number                      1168 non-null   object
 8   Team                            1161 non-null   object
 9   Active                          1173 non-null   object
 10  Fleet                           1138 non-null   object
 11  Amount Paid                     1173 non-null   float64
 12  Final O/S                       1172 non-null   float64
 13  o/s status                      1173 non-null   object
 14  Pending Fee                     1518 non-null   object
 15  Amount paid                     1518 non-null   object
 16  Weekly Collection               1518 non-null   int64
 17  Actual Weekly Collection        1171 non-null   object
 18  Total OS W Joining Fee          1518 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 225.5+ KB

In [33]:
df.describe()

,Unnamed: 0,Contact No,Pending Joining Fee,Amount Paid,Final O/S,Weekly Collection
count,1518.000000,1.172000e+03,1173.000000,1173.0,1172.000000,1518.0
mean,758.500000,8.768301e+09,-104.564646,0.0,-929.266319,0.0
std,438.353168,9.202444e+08,387.081097,0.0,1741.295056,0.0
min,0.000000,6.200686e+09,-2000.000000,0.0,-16843.604000,0.0
25%,379.250000,8.108399e+09,0.000000,0.0,-1499.159500,0.0
50%,758.500000,8.925048e+09,0.000000,0.0,-11.915000,0.0
75%,1137.750000,9.619198e+09,0.000000,0.0,0.076500,0.0
max,1517.000000,9.987957e+09,0.000000,0.0,6919.226000,0.0

In [13]:
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open('Car Master Sheet')
ws= sheet.worksheet('Recovery')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[0:-1,[0,2,5,6]]
today = datetime.date.today()
# previous_monday = today - datetime.timedelta(days=today.weekday())
previous_monday_week= previous_monday - datetime.timedelta(days=35)
df['Date']= df['Date'].str.replace('-', '/')
df['Date'] = pd.to_datetime(df['Date'], errors='coerce',format='%d/%m/%Y')#27/12/2021
df_5week = df[(df['Date'] >= pd.to_datetime(previous_monday_week)) & (df['Date'] < pd.to_datetime(today))]
df_5week['Date']=df_5week['Date'].astype(str)
df_5week

TypeError: <class 'datetime.timedelta'> is not convertible to datetime