In [5]:
import pandas as pd
import datetime
from datetime import date, timedelta
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import warnings
warnings.filterwarnings("ignore")
scope= ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
credentials= ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope) 
client= gspread.authorize(credentials)
sheet= client.open_by_key('1cpR6AVVpk9TF4_I38IFYPPOqk-_bSROHgVVYdaXLXOI')#Allotment Status Report
ws= sheet.worksheet('New Allotment History')
data = ws.get_all_values()
headers = data.pop(0)
dfm = pd.DataFrame(data,columns=headers)
df=dfm.iloc[:,[8,2,3,4,5,7,9,10]]
df['Timestamp']= df['Timestamp'].str.replace('-', '/')
df['Allotment Date']= df['Allotment Date'].str.replace('-', '/')
df['Return Date']= df['Return Date'].str.replace('-', '/')
df[['Timestamp','Allotment Date','Return Date']] = df[['Timestamp','Allotment Date','Return Date']].apply(pd.to_datetime, errors='coerce',format='%d/%m/%Y %H:%M:%S')
df.sort_values(by='Timestamp',ascending=False, inplace=True)
df['Timestamp']=df['Timestamp'].astype(str)
df[['Allotment Date','Return Date']]=df[['Allotment Date','Return Date']].astype(str).replace('NaT', '')
sheet= client.open_by_key('1dhSoYdAx8hI09ztG6M5thfWuq7eOgN5SqaZ_CvQlMTA')#live attrition 2.0
ws= sheet.worksheet('Allotment Query data')
ws.update([df.columns.values.tolist()] + df.values.tolist(),value_input_option='USER_ENTERED')
print("Live attrition 2.0 automation updated succesfully")

Live attrition 2.0 automation updated succesfully

In [3]:
df.iloc[:]

,ETM,Car Number,Timestamp,Name of Driver,Reason for returning,Allotment Date,DM Name,Return Date
8681,,MH01DR2802,2022-05-28 17:14:16,Jayprakash tiwari,Health Issue,NaT,Black Panthers,NaT
8680,,MH01DR4505,2022-05-28 16:40:43,,Come from repair,NaT,Deep Hunters,NaT
8679,,MH01DR6841,2022-05-28 16:17:52,Gulzar,Health Issue,NaT,Deep Hunters,NaT
8678,,MH01DR5475,2022-05-28 15:50:57,Kush Tiwari,Going to Village,NaT,Terrific Tigers,NaT
8677,ETM18429,MH01DR7541,2022-05-28 15:44:13,,Defaulter - Low Performance (Low Online hrs/Tr...,2022-05-28 16:39:10,Terrific Tigers,NaT
...,...,...,...,...,...,...,...,...
4,Leasing,MH01CV9197,2021-04-12 00:00:00,Pushparaj,Going to Village,2021-04-12 00:00:00,Leasing,NaT
3,Leasing,MH01CV6741,2021-04-12 00:00:00,Kishor patil,Going to Village,2021-04-12 00:00:00,Leasing,NaT
2,ETM05532,MH01CV2171,2021-04-07 00:00:00,,Come from Repair,2021-04-07 00:00:00,Silent Killers,NaT
1,Leasing,MH01CV6086,2021-04-07 00:00:00,Mukim Alam,Going to Village,2021-04-07 00:00:00,Leasing,NaT
0,Leasing,MH01CV9270,2021-04-06 00:00:00,,Come from Repair,2021-04-06 00:00:00,Leasing,NaT